@layer base {
    :root {
      --background: 330 50% 99%;
      --foreground: 330 66% 5%;
      --muted: 90 26% 90%;
      --muted-foreground: 90 2% 31%;
      --popover: 330 50% 99%;
      --popover-foreground: 330 66% 5%;
      --card: 330 50% 98%;
      --card-foreground: 330 66% 4%;
      --border: 330 9% 92%;
      --input: 330 9% 92%;
      --primary: 330 22% 63%;
      --primary-foreground: 330 22% 3%;
      --secondary: 90 22% 63%;
      --secondary-foreground: 90 22% 3%;
      --accent: 210 22% 63%;
      --accent-foreground: 210 22% 3%;
      --destructive: 9 85% 41%;
      --destructive-foreground: 0 0% 100%;
      --ring: 330 22% 63%;
      --chart-1: 330 22% 63%;
      --chart-2: 90 22% 63%;
      --chart-3: 210 22% 63%;
      --chart-4: 90 22% 66%;
      --chart-5: 330 25% 63%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 224.52 22.58% 10.04%;
      --foreground: 330 26% 98%;
      --muted: 203.77 47.57% 17.72%;
      --muted-foreground: 90 2% 69%;
      --popover: 203.77 41.61% 19.55%;
      --popover-foreground: 330 26% 98%;
      --card: 203.77 55.63% 28.67%;
      --card-foreground: 330 26% 99%;
      --border: 185.66 43.4% 17.7%;
      --input: 194.72 52% 35.43%;
      --primary: 190.04 100% 51.96%;
      --primary-foreground: 330 0% 0%;
      --secondary: 242.73 47.83% 45.1%;
      --secondary-foreground: 90 0% 100%;
      --accent: 199.09 64.03% 26.73%;
      --accent-foreground: 210 0% 100%;
      --destructive: 342.12 100% 63.6%;
      --destructive-foreground: 0 0% 100%;
      --ring: 194.72 56.7% 36.33%;
      --chart-1: 330 22% 63%;
      --chart-2: 90 22% 63%;
      --chart-3: 210 22% 63%;
      --chart-4: 90 22% 66%;
      --chart-5: 330 25% 63%;
    }
  }
  